body#particles-js{
  background-color: #04041C;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 100;
}
.jumbotron{
  color: #000;
  background-color: #fff;
  opacity: 0.8;
  position:absolute;
  left:250px;
  right:250px;
  padding: 20px;
  border: 1px gray solid;
}
.panel-body{
  color: #000;
  background-color: #fff;
  opacity: 0.8;
  position:absolute;
  top:250px;
  left:250px;
  right:250px;
  padding: 20px;
  border: 1px gray solid;
  border-radius: 5px;
}
#output{
  color: #000;
  background-color: #fff;
  opacity: 0.8;
  position:absolute;
  top:250px;
  left:250px;
  right:250px;
  padding: 20px;
  border: 1px gray solid;
  border-radius: 5px;
}
button{
  background-color: #000;
  opacity:0.9;
  padding:10px;
  color: #fff;
  border-radius: 10px;
  border:none;
  font-size: 16px;
}
body{
  font-size: 18px;
}
@media screen and (max-width: 750px){
  body{
    font-size: 14px;
  }
  .panel-body{
    top:400px;
  }
}
